
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1564957468535-e8e51b0d2f56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);">
  <div class="container">
    <h1>cocktail collection</h1>
    <%= link_to "design your own concoction", new_cocktail_path, class: "button-brown" %>
  </div>
</div>



<div class="cards d-flex row justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card col-4 m-5">
      <div class="card-body">
        <h3 class="card-title"><%= cocktail.name %></h3>
        <%= link_to 'see recipe', cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>

<!-- https://images.unsplash.com/photo-1594584697907-4181579de394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80 -->
