<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%= yield :transparent %>">
  <%= link_to 'cocktail collection', root_path, class: "navbar-brand" %>
  <%= link_to "design your own concoction", new_cocktail_path %>
</div>
