.navbar-lewagon {
  justify-content: space-between;
  transition: 0.5s background-color ease;
  background-color: #323232;

  a {
    color: #e8e4e1;
  }

  .navbar-brand {
    font-size: 25px;
    color: #e8e4e1;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.transparent {
  background-color: transparent;
  a {
    color: transparent;
  }

  .navbar-brand {
    color: transparent;
  }
}

.navbar-lewagon-white {
  background-color: #e8ded2;

  a {
    color: #838383;
  }

  .navbar-brand {
    color: #707070;
  }
}
